// --------------------------------------------------
// Thumbnail media component
// --------------------------------------------------

.media{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;

    &__link{
        display: block;
        cursor: pointer;

        &__img, &__video{
            width: 100%;
            height: 190px;
            object-fit: cover;
            border-radius: $borderRadius;
            background-color: #dedede;
            overflow: hidden;
            
            @media screen and (min-width: 950px){
                height: 300px;
                width: 350px;
            }
        }
    }

    &__infos{
        display: flex;
        justify-content: space-between;
        color: $red;

        &__title{ font-size: 0.875rem; }

        &__likes-icon{
            margin-left: 5px;
            cursor: pointer;
        }
    }
}