// --------------------------------------------------
// Photorgapher page style
// --------------------------------------------------

.gallery{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;

    @media screen and (min-width: 950px){
        
    }
}